<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.image %>);">
  <div class="container">
    <h1>How to make a <strong><%= @cocktail.name %></strong></h1>
    <p><%= @cocktail.description %></p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-12 col-md-6">
      <h2>Method</h2>
      <p><%= simple_format @cocktail.method %></p>
      <%= link_to "< Back to list of cocktails", cocktails_path, html_options = { class: "btn btn-primary" } %></p>
    </div>
    <div class="col-12 col-md-5">
      <h2>Ingredients</h2>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <strong><%= dose.ingredient.name %></strong> - <%= dose.description %> <%= link_to "Delete", cocktail_dose_path(@cocktail.id, dose.id), method: "delete" %>
          </li>
        <% end %>
      </ul>
      <p><%= link_to "+ Add a dose", new_cocktail_dose_path(@cocktail), html_options = { class: "btn btn-primary" } %></p>
    </div>
  </div>
</div>
