<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key, :height => 1000, :crop => :fill if @cocktail.photo.attached? %>);">
  <div class="container">
    <h1>How to make a <strong><%= @cocktail.name %></strong></h1>
    <p><%= @cocktail.description %></p>
  </div>
</div>
<div id="recipe" class="container">
  <div class="row justify-content-between">
    <div id="method" class="col-12 col-md-6">
      <h2>Method</h2>
      <%= simple_format @cocktail.method %>
      <%= link_to '<i class="fa fa-arrow-left"></i> Back to list of cocktails'.html_safe, root_path, class: "link" %>
    </div>
    <div id="ingredients" class="col-12 col-md-4">
      <h2>Ingredients</h2>
      <% if @cocktail.doses.blank? %>
        <p>No ingredients have been added for the <%= @cocktail.name %></p>
      <% else %>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <%= render 'doses/show', dose: dose %>
          <% end %>
        </ul>
      <% end %>
      <%= render 'doses/form', coktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>
<div id="reviews" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2>Did you try this <%= @cocktail.name %>? <strong>Review it!</strong></h2>
      <% if @cocktail.reviews.blank? %>
        <p id="no-review">Be the first to leave a review for the <%= @cocktail.name %></p>
      <% else %>
        <% @cocktail.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>
      <%= render 'reviews/form', cocktail: @cocktail, review: @review %>
    </div>
  </div>
</div>
